<!-- Introduction -->
<div id="introduction" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Complete social media services</h2>
                <p class="p-heading">Increasing impression interested expression he my at. Respect invited request charmed me warrant to. Expect no more pretty as do though so genius afraid cousin</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-camera"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Photo Shooting</h4>
                        <div class="card-text">Girl when of ye snug poor draw. Mistake totally of in chiefly. Justice visitor him entered for. Continue delicate as</div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-video"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Video Production</h4>
                        <div class="card-text">Continue delicate as unlocked entirely mr relation diverted in. Known not end fully being style hose whom down kept</div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-paint-brush"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Digital illustration</h4>
                        <div class="card-text">Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort elderly be me. Walls began</div>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of introduction -->