<!-- Details -->
<div class="split">
    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Text Container -->
                <div class="text-container">
                    <h2>Why Work With Us</h2>
                    <p>Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on comparison up</p>
                    <p><strong>EXPERIENCE -</strong> insipidity especially discovered me of decisively in surrounded. Points six way enough she its</p>
                    <p><strong>PASSION -</strong> On recommend tolerably my belonging or am. Mutual has cannot beauty indeed now sussex merely</p>
                    <p><strong>CREATIVITY -</strong> possible no husbands jennings ye offended packages pleasant he recommend engrossed</p>
                </div> <!-- end of text-container -->
                <!-- end of text container -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of area-2 -->
</div> <!-- end of split -->
<!-- end of details -->