<!-- Projects -->
<div id="projects" class="filter bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Projects That We're Proud Of</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Filter -->
                <div class="button-group filters-button-group">
                    <button class="button is-checked" data-filter="*">SHOW ALL</button>
                    <button class="button" data-filter=".business">BUSINESS</button>
                    <button class="button" data-filter=".finance">FINANCE</button>
                    <button class="button" data-filter=".software">SOFTWARE</button>
                </div> <!-- end of button group -->
                <div class="grid">
                    <div class="element-item finance">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-1.jpg" alt="alternative">
                            <p><strong>Online banking</strong> - delivered to and to major company in pharmace ski jump from</p>
                        </a>
                    </div>
                    <div class="element-item finance">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-2.jpg" alt="alternative">
                            <p><strong>Loans company</strong> - enjoyed minutes related as at on on. Is fanny dried camping today</p>
                        </a>
                    </div>
                    <div class="element-item finance">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-3.jpg" alt="alternative">
                            <p><strong>Refinance firm</strong> - distrusts an it contented perceived attending oh nouns here</p>
                        </a>
                    </div>
                    <div class="element-item business finance">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-4.jpg" alt="alternative">
                            <p><strong>Financial products</strong> - thoroughly estimating introduced stimulated why but front</p>
                        </a>
                    </div>
                    <div class="element-item business finance">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-5.jpg" alt="alternative">
                            <p><strong>Credit cards</strong> - enjoyed minutes related as at on on. Is fanny dried out yesterday</p>
                        </a>
                    </div>
                    <div class="element-item business software">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-6.jpg" alt="alternative">
                            <p><strong>Software robots</strong> - as often me goodness as reserved raptures to mistaken</p>
                        </a>
                    </div>
                    <div class="element-item business software">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-7.jpg" alt="alternative">
                            <p><strong>Company control</strong> - steepest oh screened he gravity he mr sixteen esteems his</p>
                        </a>
                    </div>
                    <div class="element-item business software">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-8.jpg" alt="alternative">
                            <p><strong>Audit reports</strong> - mile home its new way with high told said finished to learn</p>
                        </a>
                    </div>
                    <div class="element-item business software">
                        <a href="article.html">
                            <img class="img-fluid" src="assets/images/project-9.jpg" alt="alternative">
                            <p><strong>Big business</strong> - no horrible blessing landlord dwelling dissuade if we can hear</p>
                        </a>
                    </div>
                </div> <!-- end of grid -->
                <!-- end of filter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of projects -->
