<app-introduction></app-introduction>
<!--<app-details></app-details>
<app-services></app-services>
<app-projects></app-projects>
<app-testimonials></app-testimonials>
<app-statistic></app-statistic>-->
<app-contact></app-contact>
